@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --secondary-bg-color: #303030;
  --border-color: rgba(255, 255, 255, 0.1);
}

@layer components {
}

@layer utilities {
  .secondary-bg {
    @apply bg-[var(--secondary-bg-color)];
  }

  .inherit-rounded {
    border-radius: inherit;
  }

  .typical-button-icon {
    @apply rounded-full hover:cursor-pointer hover:bg-[var(--secondary-bg-color)] h-full;
  }

  .typical-icon-size {
    @apply h-6 w-6;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #fff;
    background: #0f0f0f;
    fill: #fff;
  }
}
